<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="All best restaurant you can find">
  <meta name="theme-color" content="#E0144C">

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Hungerian</title>
</head>
<body>
  <a href="#mainContent" tabindex="0" class="skip-link">Skip to content</a>
  <header class="app-bar header">
    <div class="header-brand">
      <h1>Hungerian</h1>
    </div>
    <div class="nav-menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <nav id="navigationDrawer" class="nav-bar">
      <ul>
        <li><a href="#/explore">Explore</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/mekopr/" target="_blank" rel="noopener noreferrer">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div hidden id="spinner"></div>
  <main id="mainContent" tabindex="0">
  </main>
  <footer class="footer">
    <h2>Let's Eat</h2>
    <div class="footer-link">
      <ul class="footer-list">
        <li class="footer-item"><a href="#/explore">Explore</a></li>
        <li class="footer-item"><a href="#/favorite">Favorite</a></li>
        <li class="footer-item"><a href="https://www.linkedin.com/in/mekopr/">About Us</a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2022 - Hungerian</p>
    </div>
  </footer>
</body>
</html>
